* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /* background: #111; */
}

/* body:before,
body:after {
  content: "";
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
} */

/* body:before {
  background: linear-gradient(#e91e56, #ffc107);
  clip-path: circle(25% at 30% 20%);
} */

/* body:after {
  background: linear-gradient(#fff, #1970ca);
  clip-path: circle(25% at 70% 90%);
} */

.popup1 {
  position: fixed;
  top: -150%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  /* border: 1px solid rgba(134, 215, 112, 0.15); */
  /* box-shadow: inset 0px 0px 20px 5px rgba(206, 173, 80, 0.05); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8px);
  width: 450px;
  padding: 20px 30px;
  border-radius: 10px;
  z-index: 1000;
  transition: top 0ms ease-in-out 300ms, opacity 300ms ease-in-out 0ms,
    transform 300ms ease-in-out 0ms;
}

.popup1.active {
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: top 0ms ease-in-out 0ms, opacity 300ms ease-in-out 0ms,
    transform 300ms ease-in-out 0ms;
}

.popup1 .close-btn1 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  color: #fdfdfd;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  cursor: pointer;
}

.popup1 h1 {
  font-size: 35px;
  text-align: center;
  margin: 10px 0px 20px;
  color: #fff;
}

.popup1 p {
  color: #fdfdfd;
  font-size: 17px;
}

.close-btn1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button#open-popup1 {
  background: transparent;
  outline: none;
  /* border: 2px solid #fdfdfd; */
  font-size: 16px;
  color: #fdfdfd;
  padding: 10px 0px;
  cursor: pointer;
  text-transform: uppercase;
}
